* {
  border: none;
  font-family: FiraCode Nerd Font, monospace;
  font-weight: bold;
  font-size: 15px;
  padding: 1px 0;
}

window#waybar {
  background: alpha(@theme_base_color, 0.94);
  color: @theme_text_color;
  border-radius: 15px;
}

tooltip {
  background: @theme_base_color;
  border-radius: 10px;
}

#workspaces button {
  color: @theme_fg_color;
  padding: 0 6px;
}

#workspaces button.active {
  color: @theme_selected_bg_color;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #a6d189;
}

#workspaces button:hover {
  color: @theme_selected_bg_color;
}

#memory,
#cpu,
#custom-playerctl,
#cava,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#backlight {
  padding: 0px 8px;
}

#tray {
  margin-left: 5px;
  margin-right: 10px;
}

#workspaces {
  margin: 0px 5px;
}

#window {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 16px;
  color: @theme_fg_color;
}

#custom-arch {
  margin-left: 20px;
}
