* {
  border: none;
  font-family: FiraCode Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  border: 5px solid transparent;
  border-bottom: none;
  background-color: rgba(35, 38, 52, 0.84);
  color: #c6d0f5;
  border-radius: 15px;
}

tooltip {
  background: #232634;
  border-radius: 10px;
  border: 2px solid #11111b;
}

#workspaces button {
  color: #c6d0f5;
  margin-right: 5px;
}

#workspaces button.active {
  color: #f4b8e4;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #a6d189;
}

#workspaces button:hover {
  color: #f4b8e4;
}

#cava,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  padding: 5px 10px;
  padding-bottom: 0;
  margin: 0px 3px;
}

#tray {
  margin-left: 5px;
  margin-right: 10px;
}

#workspaces {
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#battery {
  color: #a6d189;
}

#backlight {
  color: #99d1db;
}

#clock {
  color: #fab387;
  border-radius: 10px;
}

#network {
  color: #f9e2af;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #8caaee;
}

#custom-cava {
  padding: 0;
}
