/* colors */

configuration {
    font:                "霞鹜文楷 12";
    show-icons:          true;
    icon-theme: 				 "Dracula";
    display-drun: 			 "";
    drun-display-format: "{name}";
    disable-history:     false;
    sidebar-mode: 			 false;
}

* {
  al:  #00000000;
  bg:  #282a36bb;
  se:  #44475aff;
  fg:  #f8f8f2ff;
  ac:  #f4b8e4bb;
}
