"==========================================
" Author:  maya
" Version: 0.1
" Email 1327909321@qq.com
" Desc: my ideavim config file
"==========================================
" 常用快捷键
" alt j -> down
" alt k -> up
"

" set leader key
let mapleader="\<Space>"
let g:mapleader="\<Space>"

" 行号的显示形式
set number
set relativenumber



" 搜索相关的设置
set hlsearch
set incsearch
set smartcase
set ignorecase
" set which-key

" 一些插件
set easymotion
set surround
set multiple-cursors
set highlightedyank
let g:highlightedyank_highlight_duration = 1000
set exchange " cx cxx X cxc
set commentary
set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert
set sneak
set NERDTree

" 基础的键位映射
nnoremap L $
nnoremap H ^
vnoremap L $
vnoremap H ^
nnoremap J 5j
vnoremap J 5j
nnoremap K 5k
vnoremap K 5k
nnoremap <leader>j J

" clear the highlighted search result
nnoremap <Leader>nh :nohlsearch<CR>

" 复制粘贴相关操作
noremap <Leader>y "*y
noremap <Leader>p "*p

" Tab operation
nnoremap tn gt
nnoremap tp gT

" Quit normal mode
nnoremap <leader>q  :q<CR>
nnoremap <leader>Q  :q!<CR>

inoremap jj <Esc>`^

" intellij built in key map
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>c :action GotoClass<CR>
nnoremap <leader>e :action SearchEverywhere<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>
nnoremap <leader>ov :action OverrideMethods<CR>
nnoremap <leader>im :action ImplementMethods<CR>

" navigation
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gb :action JumpToLastChange<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action RenameElement<CR>
nnoremap gh :action ShowErrorDescription<CR>

" code actions
nnoremap <leader>r :action Replace<CR>
nnoremap <leader>] :action EditorCodeBlockEnd<CR> " 跳转到代码块开始
nnoremap <leader>[ :action EditorCodeBlockStart<CR>
nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>
nnoremap == :action ReformatCode<CR>
vnoremap = :action ReformatCode<CR>
inoremap <C-v> <Esc>l:action EditorPaste<CR>i


set showcmd
set wildmenu
set scrolloff=5

" Flutter action
